.home{
  min-height: 98vh;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.home h1{
  text-align: center;
}

.image{
  height: 60px;
  width: 60px;
}